* {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8%;
    background-color: #24252a;
  }
  header p:hover{
   color: #EE2E35;
   transition: color 0.3s ease 0s;
   cursor: pointer;
  }
  #navbarRight{
    float: right;
  }
  #navbarRight i{
    padding: 10px  ;
  }
  header img {
    width: 60px;
    height: 60px;
  }
  .aboutUsText{
    margin: 5%;
  }
  .nav__links a,
  .cta,
  .overlay__content a {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  .nav__links {
    list-style: none;
    display: flex;
    margin-top: 20px;
  }
  .nav__links li {
    padding: 0px 20px;
  }
  .nav__links li a:hover{
    color: #EE2E35;
    transition: color 0.3s ease 0s;
  }
  .cta {
    border-radius: 50px;
    transition: background-color 0.3s ease 0s;
    margin: 0px;
    padding: 0px;
  }
  /* Mobile Nav */
  .menu {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.3s ease 0s;
  }
  .overlay--active {
    width: 100%;
  }
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #EE2E35;
  }
  .fa-search:hover,
  .fa-user-circle:hover,
  .fa-shopping-bag:hover{
    color: #EE2E35;
    transition: color 0.3s ease 0s
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  #about{
    text-align: center;
    color: #495057;
    text-decoration: none;
  }
  #about span{
    font-size: 2.5em;
  }
  .carousel .carousel-indicators [data-bs-target] {
    width: 10px; 
    height: 10px;
    border-radius: 100%; 
}
.footer-section {
background: #24252A;
position: relative;
}

.footer-content {
position: relative;
z-index: 1;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 120px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.footer-social-icon i:hover{
  transition: color 0.3s ease 0s;
  color: #C1121F;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #C1121F;
}
.footer-widget ul li {
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #C1121F;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #f7b32b;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #C1121F;
transition: color 0.3s ease 0s;
}
.footer-menu li a {
font-size: 14px;
color: #3B393A;
}

canvas{
  background-image: url('images/test-image.png');
}