footer {
	padding: 20px 0;
	background-color: var(--lavender);
}
footer .content {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 40px;
}
footer a {
	color: var(--soft-white);
}
footer .email{
	font-size: 22px;
}
footer .policy {
	font-size: 17px;
	margin: 10px 0;
}
footer .footer-title {
	margin-bottom: 20px;
	height: 40px;
	color: #F79513;
	fill: #ffffff;
	font-size: 24px;
	font-weight: 700;
}
.btn-submit {
	padding: 10px 20px;
	background-color: #F79513;
	border: 2px solid #F79513;
	font-size: 16px;
	font-weight: 700;
    margin-top: 5px;
    float: left;
}
.btn-submit:hover,
.btn-submit:focus {
	opacity: .9;
}
.input-group span {
	flex-grow: 1;
	margin-bottom: 50px;
}
.input-group input{
	color: #000; 
	padding: 10px 18px;
}
.newsletter-input {
	flex-basis: 15rem;
	flex-grow: 9999;
	margin-bottom: 1rem;
	border-radius: 2px;
	text-align: left;
	font-weight: 700;
	color: #f0f0f0;
}
.two-column-grid {
	display: grid;
	grid-template-columns: repeat(2,auto);
	max-width: 2860px;
	margin: 0 auto;
	align-items: center;
	width: 100%;
	grid-gap: 1%;
	justify-content: flex-start;
	gap: 25px;
}
div.terms{
	justify-content: center !important;
}
.grid__item {
	float: left;
	width: 100%;
}
.footer-link {
	font-size: 1.4em;
	margin-bottom: 20px;
	font-weight: 600;
	color: #fff;
}
img.text-logo{
	max-width:  200px;
	margin-bottom: 20px;
}
.newsletter input {
	margin: 7px 0 0 0;
	border: none;
	outline: none;
	width: 100%;
}
.page-width {
	max-width: 1510px;
	margin: 0 auto;
	padding-left: 45px;
	padding-right: 45px;
	overflow: hidden;
}
.page-width::after {
	content: '';
	display: table;
	clear: both;
}
.grid {
	*zoom: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}
.list--inline {
	padding: 0;
	margin: 0;
}
.list--inline>li {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.icon-list {
	white-space: nowrap;
}
.icon-list li{
	width: 25%;
}
.social-icons li {
	padding: 0 7px;
}
.copyright-div{
	font-size: 16px; 
	padding-top: 20px;
}
.footer-content a{
	display: block;
}
.newsletter-wrapper {
	margin-top: 15px;
}
.mobile-logo-image{
	text-align: center;
	padding-top: 60px;
}
.mobile-logo{
	width: 50%;
	margin: 0 auto;
}
.one-fourth {
	width: 25%;
}
.one-quarter {
	width: 25%;
}
@media only screen and (max-width: 768px) {
	.page-width {
		padding-left: 20px;
		padding-right: 20px;
		overflow-x: visible;
		overflow: visible;
	}
	.grid__item {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}	
	.small--hide {
		display: none !important;
	}
}
@media only screen and (min-width: 769px) {
	.footer-content {
		flex-wrap: nowrap;
	}
	.newsletter {
		padding: 0 15px 0 0;
	}
	.footer-full-width/**/
	{
		flex: 1 1 100%;
	}
	.footer-center {
		justify-content: center;
	}
	.footer-center>* {
		text-align: center;
	}
	.icon-list {
		padding-bottom: 15px;
	}
	.social-icons li:first-of-type {
		padding-left: 0;
	}
	.social-icons li:last-of-type {
		padding-left: 0;
	}
	.medium-up--hide {
		display: none !important;
	}
	.medium-up--one-quarter {
		width: 25%;
	}
	.grid--uniform .medium-up--one-quarter:nth-child(4n+1) {
		clear: both;
	}
	.medium-up--one-quarter {
		width: 25%;
	}
	i.medias{
		font-size: 1.6em !important;
	}
}
@media only screen and (max-width: 1200px) {
	footer .email{
		font-size: 2vw;
		font-weight: 500;
	}
	.input-group span {
		width: 100%;
		margin-left: 0px;
		min-height: 46px;
		margin-top: 10px;
	}
	.btn-submit {
		width: 100%;
	}
    .grid__item {
		padding-left: 10px;
		padding-right: 10px;
	}
}