.hr {
	margin: 0 15px;
}

hr {
	border: 1px solid #f0f0f0;
}

.filter {
	margin: 20px 15px;
	font-weight: 600;
}

.filter label {
	font-size: 1.2em;
}

.products-count {
	float: right;
	color: var(--smoke-gray);
	margin-top: 6px;
}

.filter select {
	background-color: transparent;
	border: none;
	color: var(--light-red);
	font-weight: 700;
	font-size: 1em;
}

.filter option {
	color: black;
	font-weight: 700;
}

.filter-title {
	margin-top: 10px;
}

.products {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	margin: 30px 15px;
	flex: 1 1 25%; /*grow | shrink | basis */
}

.product-img {
	border-radius: 10px;
}

.product-img:hover {
	opacity: .9;
}
.product-link .product-img:hover{
	transform: translateY(-5px);
	transition: all 0.3s;
}
.product-link .product-img:not(:hover) {
	transition: all 0.3s;
  }
.product-name {
	font-size: 1.2em;
	font-weight: 600;
	padding-bottom: 6px;
}
.product-link{
	color: var(--black);
	text-decoration: none;
}
.desc-text {
	color: var(--light-gray);
	font-weight: 600;
	/* font-size: 0.9em; */
}

.product span {
	float: right;
	font-weight: 700;
}
.product .dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-left: 3px;
	margin-top: 3px;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	fill: currentColor;
}

@media only screen and (max-width: 768px) {
	.page-width-products {
		padding: 0 20px;
	}
	div.products {
		flex-direction: column;
	}
}

@media screen and (min-width: 1201px) {
	.page-width-products {
		padding: 0 55px;
		margin: 0 10%;
	}
	.filter select {
		font-size: 1.1em;
	}
}



/* iphone 13 pro colors */
.iphone13pro__colors .dot:nth-child(1) {
	background-color: var(--graphite);
}
.iphone13pro__colors .dot:nth-child(2) {
	background-color: var(--silver);
}
.iphone13pro__colors .dot:nth-child(3) {
	background-color: var(--gold);
}
.iphone13pro__colors .dot:nth-child(4) {
	background-color: var(--sierra-blue);
}
/* apple watch colors */
.applewatch__colors .dot:nth-child(1) {
	background-color: var(--product-red);
}
.applewatch__colors .dot:nth-child(2) {
	background-color: var(--navy-blue);
}
.applewatch__colors .dot:nth-child(3) {
	background-color: var(--watch-black);
}
.applewatch__colors .dot:nth-child(4) {
	background-color: var(--watch-green);
}
/* Airpods max colors */
.airpodsmax__colors .dot:nth-child(1) {
	background: linear-gradient(to bottom, #3C3D3A, #3C3D3A 50%, #595759 50%, #595759 100%);
}
.airpodsmax__colors .dot:nth-child(2) {
	background: linear-gradient(to bottom, #F5F4F0, #F5F4F0 50%, #D2D3D4 50%, #D2D3D4 100%);
}
.airpodsmax__colors .dot:nth-child(3) {
	background: linear-gradient(to bottom, #E4544D, #E4544D 50%, #D8A097 50%, #D8A097 100%);
}
.airpodsmax__colors .dot:nth-child(4) {
	background: linear-gradient(to bottom, #E7ECE3, #E7ECE3 50%, #AFBFAB 50%, #AFBFAB 100%);
}
.airpodsmax__colors .dot:nth-child(5) {
	background: linear-gradient(to bottom, #2F506C, #2F506C 50%, #91A6BB 50%, #91A6BB 100%);
}
/* airpod colors */
.airpods__colors .dot:nth-child(1){
	background-color: white;
	border: 1px solid #e1e1e1;
}