* {
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
*::selection {
  background: var(--soft-white);
}
*,
*::before,
*::after {
  box-sizing: border-box; 
}
:root {
  --white: #fff;
  --black: #000;
  --light-red: #EE2E35;
  --dark-red: #C1121F;
  --netflix-red: #D91E27;
  --dark-gray: #24252A;
  --soft-white: #EDF0F1;
  --charcoal: #424A51;
  --light-gray: #9C9B99;
  --dark-blue: #213653;
  --lavender: #191B2B;
  --top-blue: #12131E;
  --violet: #645E9D;
  --minion-yellow: #E5BB16;
  --sierra-blue: #BAD8F4;
  --gold: #FAE6CB;
  --silver: #F1F2EB;
  --graphite: #61605C;
  --product-red: #C94E5B;
  --navy-blue: #425774;
  --watch-black: #2E2F33;
  --watch-green: #4C614B;
  --smoke-gray: #9C9B99;  
}

/* body{
  background-image: repeating-linear-gradient(-45deg, #8B89FF 0px, #8B89FF 20px, #6765FF 20px, #6765FF 40px);
}  */


img {
  width: 100%;
}

span.underline {
  text-decoration: underline;
}

.center-text, .text-center {
  text-align: center !important;
}

.full-width {
  width: 100% !important;
}

.container{
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.container img:hover{
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out 0s;
}
.container img:not(:hover) {
  transition: transform 0.3s ease-in-out 0s;
}

nav a:hover,
nav li:hover,
.overlay a:hover,
.top-div a:hover,
.footer-link a:hover {
  color: var(--dark-red) !important;
  transition: color 0.3s ease 0s !important;
}

.top-div {
  display: flex;
  height: 42px;
  background-color: var(--top-blue);
  color: var(--soft-white);
  align-items: center;
}
.top-div p {
  padding: 0 20px;
  font-weight: 500;
  font-size: 1.1em;
  user-select: none;
  cursor: text;
}
.top-div div {
  margin-left: auto;
  padding-right: 5px;
  border-right: 0.5px solid var(--soft-white);
  padding: 0 10px;
}
.top-div select {
  background-color: transparent;
  border: none;
  color: var(--soft-white);
  outline: none;
}
.top-div option {
  background-color: var(--soft-white);
  color: var(--dark-gray);
}
.top-div a {
  color: var(--soft-white);
  padding: 0 10px;
  font-weight: 400;
}
 
.xmasalert {
  background-color: var(--light-red);
  padding: 6px 0px;
  color: var(--soft-white);
}
.xmasalert p {
  font-weight: 600;
}
.xmasalert a {
  text-decoration: none;
  color: var(--soft-white);
}
.xmasalert a:hover {
  color: var(--charcoal) !important;
}

/*
head ends here

body starts here:
*/




.brands {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 60px;
}
.brands img {
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 var(--light-red);
} 



.netflix {
  background-color: var(--netflix-red);
}
.netflix p {
  position: absolute;
  top: 4%;
  white-space: nowrap;
  font-weight: 600;
}
.netflix a {
  color: var(--soft-white);
}
.netflix a:hover {
  color: var(--charcoal) !important;
}

.iphone {
  background-color: var(--dark-blue);
}
.iphone img {
  position: relative;
}
.iphone p {
  position: absolute;
  top: 4%;
  display: inline-block;
  white-space: nowrap;
  font-weight: 600;
}
.iphone a {
  color: var(--soft-white);
}
.iphone a:hover {
  color: var(--dark-red) !important;
}
.iphone span.two-m {
  font-size: 2em;
}

.nasspay{
  background: var(--violet);
  padding: 60px;
}
.nasspay img{
  position: relative;
  top: 0;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 0 var(--dark-gray);
  margin-top: 8%;
}
.nasspay p{
  position: absolute;
  top: 4%;
  display: inline-block;
  white-space: nowrap;
  font-weight: 600;
}
.nasspay a{
  color: var(--soft-white);
}
.nasspay .text{
  font-size: 1.5em;
}


div.cards{
  display: flex;
  justify-content: center;
}
div.card{
  border-radius: 10px;
  padding: 15px;
  margin: 15px 30px;
  background-color: var(--dark-blue);

}
.card img{
  border-radius: 10px;
}
div.card h3{
  color: var(--light-red);
}
div.card p{
  color: var(--soft-white);
  padding-bottom: 0.8rem;
}
div.card div{
  padding-bottom: 5px;

}
div.card a{
  background-color: lightskyblue;
  border-radius: 4px;
  padding: 5px;
  font-weight: 600;
}
.home-carousel .main-carousel {
  margin: 10px 60px;
}
.home-carousel .main-carousel img {
  border-radius: 10px;
}
div.about-us {
  white-space: pre-line;
  padding: 25px;
  background: cornflowerblue;
}
.about-us img {
  width: 100px;
}
li {
  list-style: none; }

  
/*Mobile View*/
@media only screen and (max-width: 768px) {
  .netflix img {
    padding-top: 45px;
  }

  .iphone img {
    padding-top: 40px;
  }

  div.about-us {
    white-space: normal;
  }
  .brands {
    margin: 20px;
  }
  .nasspay{
    padding: 30px;
  }
  .nasspay img{
    margin-top: 14%;
  }
  div.cards{
    flex-direction: column;
  }
  
  
}

/*Tablet View*/
@media only screen and (max-width: 1200px) and (min-width: 769px) {
 
}

/*PC View*/
@media screen and (min-width: 1201px) {
  .iphone img {
    width: 70%;
  }
  .nasspay img{
    width: 70%;
  }
  .nasspay .text{
    font-size: 2em;
  }
 
}



